*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}


.food-search{
    background-image: none;
    padding: 40px;
    background-color: #806767;
}

fieldset{
    border: 1px solid;
    margin: 20px;
    padding: 40px;
    background-color: rgb(120, 146, 146);
    width: 80%;
    margin: auto;
    border-radius: 20px;
  

}

fieldset label{
    font-size: 1.5rem;
    color: white;
 
}

fieldset legend{
    font-size: 2rem;
    font-weight: bold;
}
fieldset .food-menu-desc{
   padding-left: 50px;
   /* text-align: center; */
   margin-top: 20px;
   font-size: 2rem;
}

.top-field{
  
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}


.food-menu-desc .food-price{
    font-size: 1.5rem;
    font-weight: bold;
  
}

fieldset .food-menu-img .img-responsive{
    width: 320px;
    height: 200px;
    
    filter:invert(0);
    transition: 1s ease filter;
}
fieldset .food-menu-img .img-responsive:hover{
    filter: invert(2);
}

.food-menu-desc h3{
    font-size: 3rem;
    font-weight: bold;
  
}

.food-menu-desc .order-label{
    font-weight: bold;

}

.food-menu-desc input{
    margin-left: 60px;
}

.food-menu-desc input[type="number"]{
    width: 50%;
 height: 30px;
 padding-left: 1%;
 

}

fieldset img{
    width: 400px;
}


fieldset input[name="full-name"]{
    width: 63%;
 height: 40px;
 padding-left: 1%;
 font-size: 1.3rem;
 border: none;
 border-radius: 5px;


}


fieldset input[name="contact"]{
    width: 63%;
 height: 40px;
 padding-left: 1%;
 font-size: 1.3rem;
 border: none;
 border-radius: 5px;
 

}


fieldset input[name="email"]{
    width: 63%;
 height: 40px;
 padding-left: 1%;
 font-size: 1.3rem;
 border: none;
 border-radius: 5px;


}

textarea{
    width: 520px;
    padding-left: 1%;
    font-size: 1.3rem;
}


.down-fieldset{
    margin-top: 30px;
}

    
.down-town{
    justify-content: center;
    align-items: center;
    padding-left: 300px;
    background-color: rgb(211, 126, 126);
}

.btn{
    margin-top: 10px;
}
