*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* universal section starts here */
.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.img-responsive{
    width: 100%;
}


.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-white{
    color: white;
}


.clearfix{
    clear: both;
    float: none;
}

a{
    color: #ff9b81;
    text-decoration: none;

}

a:hover{
    color: #ff4757;
}

.btn{
    padding: 12px;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary{
    background-color:  #ff4757;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #ff4757 ;
}

h2{
    color: #2f3542;
    margin-bottom: 2%;
}


h3{
    font-size: 1.5rem;
}
/* come back later */


.logo{
    width: 15%;
    float: left;
}

.menu{
    line-height: 60px;
}

.menu ul{
    list-style-type: none;
}



.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}


.food-search{
    background-image: url("../images/s-img-2.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius:5px;
}


.categories{
    padding: 4% 0;
}


.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}


.food-menu{
    background-color: #ececec;
    padding: 4% 0;
}

.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 20px;
}

.food-detail{
    font-size: 1rem;
    color: #747d8c;
    margin-bottom: 20px;
}

.food.menu-dec .btn{
    padding: 20px;
}

.social{
  
  background-color: rgb(126, 41, 58);  

}
.social li{
    list-style-type: none;
   
}
.social ul li img{
    transition-property:background-color,color;
    box-shadow: 0px 0px 40px greenyellow;
   width: 40px;
   border: 2px solid rgb(211, 65, 94);
   margin: 10px;
   float: left;
   
      
    
}


.social ul li img:hover{
    background-color: greenyellow;
    color: green;
}



.footer{
    background-color: crimson;
    color: white;
    font-size: 1.2rem;
   
  
}

/* universal section ends ehere */


